# Slurm
*.out
*.err

# Outputs & data
slurm_logs/
rep_learning/results/
supervised_learning/results/
figures/
checkpoints/
output/
data/
libs/
hf_cache/
*.parquet
*.pkl
*.csv
*.npy


# Python
__pycache__/
*.egg-info/
.venv/
.tmp_py_pkgs/

# Jupyter
.ipynb_checkpoints/

# Experiment tracking
wandb/
mlruns/

# OS
.DS_Store