# Slurm
*.out
*.err

# Outputs & data
figures/
checkpoints/
output/
data/
libs/
hf_cache/
*.parquet
*.pkl
*.csv


# Python
__pycache__/
*.egg-info/
.venv/

# Jupyter
.ipynb_checkpoints/

# Experiment tracking
wandb/
mlruns/

# OS
.DS_Store