--extra-index-url https://download.pytorch.org/whl/cu130

numpy==2.1.3
pandas==2.2.3
pyarrow==19.0.1
scikit-learn==1.6.1
xgboost==3.0.0
matplotlib==3.10.1
tqdm==4.67.3
PyYAML==6.0.3
pydantic==2.12.5
torch==2.10.0+cu130
torchaudio==2.10.0+cu130
torchvision==0.25.0+cu130
umap-learn==0.5.11
chronos-forecasting==2.2.2
ollama==0.6.1
