accelerate==1.13.0
chronos-forecasting==2.2.2
einops==0.8.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
numpy==2.4.3
ollama==0.6.1
pandas==2.2.3
pydantic==2.12.5
pydantic_core==2.41.5
scikit-learn==1.8.0
torch==2.10.0+cu130
torchaudio==2.10.0+cu130
torchvision==0.25.0+cu130
tqdm==4.67.3
transformers==4.57.6
umap-learn==0.5.11
